body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #444444;
    font-size: 9pt;
    background-color: #FAFAFA;

}
h1{
    font-size: 30px;

}
#overscript{
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}
main{
    margin-left: 15px;
    
}
.issuedescr{
    width: 1000px;
}
.issueage{
    padding-left: 10px;
    margin-top: 5px;

}
.issuetitle{
    margin-bottom: 5px;
}

p{
    margin-top: 6px;
    margin-bottom: 6px;
}
ul {
    list-style-type: none;
  }